<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" rel="author" href="{{ '/' | relative_url }}">
      <img src="/assets/images/brand/curve-graph-icon.png" width="45" height="45" class="d-inline-block rounded-circle mr-2" alt="Learning form the curve Logo">
      {{ site.title | escape }}
    </a>

    {%- assign page_paths = site.header_pages -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% for link in site.data.navigation.main %}
          {% if link.url contains 'http' %}
            {% assign domain = '' %}
          {% else %}
            {% assign domain = site.url | append: site.baseurl %}
          {% endif %}

          {% if link.children %}
            <li class="nav-item dropdown">

              <a class="nav-link dropdown-toggle" href="{{ domain }}{{ link.url }}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="{{ link.icon }}"></i> {{ link.title }}
              </a>

              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% for child in link.children %}
                  {% if child.url contains 'http' %}
                    {% assign domain = '' %}
                  {% else %}
                    {% assign domain = site.url | append: site.baseurl %}
                  {% endif %}
                  <a class="dropdown-item" href="{{ domain }}{{ child.url }}"><i class="{{ child.icon }}"></i> {{ child.title }}</a>
                {% endfor %}
              </div>
              
            </li>
          
          {% else %}

          <li class="nav-item">

            <a class="nav-link" href="{{ domain }}{{ link.url }}"><i class="{{ link.icon }}"></i> {{ link.title }}</a>

          </li>
          
          {% endif %}

        {% endfor %}
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/Learning-from-the-curve" target="blank"><i class="fab fa-github"></i> Github</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
