---
layout: default
---
<div>

  <header class="text-center">
    <h1>{{ page.title | escape }}</h1>
  </header>

  <hr>

  <section>
    <div class="container">
      <div class="row text-justify">
        {{ content }}
      </div>
    </div>
  </section>
  
  <div class="container py-4">
    <div class="row text-center">
        <div class="col-lg-8 mx-auto">
            <h2>Team Members</h1>
            <hr>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
        {% for member in site.data.team_members.main %}
        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm pt-5 pb-4 px-4"><img src="{{ member.photo_src }}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">{{ member.name }}</h5><span class="small text-uppercase text-muted">{{ member.role }}</span>
                <ul class="social mb-0 list-inline mt-3">
                    {% if member.twitter %}
                    <li class="list-inline-item"><a href="{{ member.twitter }}" target="blank"><i class="fab fa-twitter fa-lg"></i></a></li>
                    {% endif %}
                    {% if member.linkedin %}
                    <li class="list-inline-item"><a href="{{ member.linkedin }}" target="blank"><i class="fab fa-linkedin fa-lg"></i></a></li>
                    {% endif %}
                    {% if member.github %}
                    <li class="list-inline-item"><a href="{{ member.github }}" target="blank"><i class="fab fa-github fa-lg"></i></a></li>
                    {% endif %}
                    {% if member.email %}
                    <li class="list-inline-item"><a href="mailto:{{ member.email }}"><i class="fas fa-envelope fa-lg"></i></a></li>
                    {% endif %}
                    {% if member.website %}
                    <li class="list-inline-item"><a href="{{ member.website }}" target="blank"><i class="fas fa-globe fa-lg"></i></a></li>
                    {% endif %}
                </ul>
                {% if member.description %}
                <div class="accordion" id="accordionBio">
                  <div class="card bg-transparent border-0">
                    <div class="card-header bg-transparent" id="heading{{ member.id }}Bio">
                      <h2 class="py-auto mx-auto">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ member.id }}Bio" aria-expanded="false" aria-controls="collapse{{ member.id }}Bio">
                          <i class="fas fa-user-circle fa-lg"></i> Bio
                        </button>
                      </h2>
                    </div>
                
                    <div id="collapse{{ member.id }}Bio" class="collapse" aria-labelledby="heading{{ member.id }}Bio" data-parent="#accordionBio">
                      <div class="card-body">
                        {{ member.description }}
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
            </div>
        </div><!-- End -->
        {% endfor %}
    </div>
  </div>

</div>