---
layout: default
---

<div>

  {%- if page.title -%}
  <header class="text-center">
    <h1>{{ page.title }}</h1>
  </header>
  {%- endif -%}

  <section>
    {{ content }}
  </section>

  {%- if site.posts.size > 0 -%}
    <div class="container my-4">
      <div class="row">
        <div class="col-6">
          <a class="btn btn-primary btn-block active" href="#carouselExampleCaptions" data-slide="prev" role="button" aria-pressed="true"><i class="fas fa-arrow-left"></i> Prev</a>
        </div>
        <div class="col-6">
          <a class="btn btn-primary btn-block active" href="#carouselExampleCaptions" data-slide="next" role="button" aria-pressed="true">Next <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>

    <div id="carouselExampleCaptions" class="carousel slide container" data-ride="carousel">

        <ol class="carousel-indicators">
          {% for category in site.categories limit:1 %}
            {% for post in category.last limit:1 %}
              <li data-target="#carouselExampleCaptions" data-slide-to="{{ post.category }}" class="active"></li>
            {% endfor %}
          {% endfor %}
          {% for category in site.categories offset:1 %}
            {% for post in category.last limit:1 %}
              <li data-target="#carouselExampleCaptions" data-slide-to="{{ post.category }}"></li>
            {% endfor %}
          {% endfor %}
        </ol>

        <div class="carousel-inner">
          {% for category in site.categories limit:1 %}
            {% for post in category.last limit:1 %}
              <div class="jumbotron carousel-item active">
                <i class="fas fa-tags"></i> <a href="/{{ category | first }}">{{ post.category | replace: '-', ' ' | upcase }}</a>
                <h1 class="display-6">{{ post.title | escape }}</h1>
                <p class="lead">{%- assign date_format = "%b %-d, %Y" -%}{{ post.date | date: date_format }}</p>
                <hr class="my-4">
                {%- if site.show_excerpts -%}
                  <p>{{ post.excerpt }}</p>
                {%- endif -%}
                <a class="btn btn-primary btn-lg" href="{{ post.url | relative_url }}" role="button">Read more</a>
              </div>
            {% endfor %}
          {% endfor %}
          {% for category in site.categories offset:1 %}
            {% for post in category.last limit:1 %}
              <div class="jumbotron carousel-item">
                <i class="fas fa-tags"></i> <a href="/{{ category | first }}">{{ post.category | replace: '-', ' ' | upcase }}</a>
                <h1 class="display-6">{{ post.title | escape }}</h1>
                <p class="lead">{%- assign date_format = "%b %-d, %Y" -%}{{ post.date | date: date_format }}</p>
                <hr class="my-4">
                {%- if site.show_excerpts -%}
                  <p>{{ post.excerpt }}</p>
                {%- endif -%}
                <a class="btn btn-primary btn-lg" href="{{ post.url | relative_url }}" role="button">Read more</a>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
    </div>
    <div class="container mt-2 mb-4">
      <div class="row">
        <div class="col-6">
          <a class="btn btn-primary btn-block active" href="#carouselExampleCaptions" data-slide="prev" role="button" aria-pressed="true"><i class="fas fa-arrow-left"></i> Prev</a>
        </div>
        <div class="col-6">
          <a class="btn btn-primary btn-block active" href="#carouselExampleCaptions" data-slide="next" role="button" aria-pressed="true">Next <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>

    <hr>
    <p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | relative_url }}">via RSS <i class="fas fa-rss" aria-hidden="true"></i></a></p>
  {%- endif -%}

</div>

<!--
<div>

  {%- if page.title -%}
  <header class="text-center">
    <h1>{{ page.title }}</h1>
  </header>
  {%- endif -%}

  <section>
    {{ content }}
  </section>

  {%- if site.posts.size > 0 -%}
    <ul class="list-unstyled">
      {% for category in site.categories %}
      <p class="h2">{{ category | first | replace: '-', ' ' | upcase | default: "Posts" }} - Latest</p>
      <hr>
        {% for post in category.last limit:1 %}
        <div class="row">
          <div class="col-sm-9 mx-auto">
            <div class="card rounded shadow-sm mb-4">
              <div class="card-body">
                <a href="{{ post.url | relative_url }}"><h3 class="card-title text-center">{{ post.title | escape }}</h3></a>
                <h6 class="card-subtitle text-center mb-2 text-muted">
                  {%- assign date_format = "%b %-d, %Y" -%}
                  {{ post.date | date: date_format }}
                </h6>
                {%- if site.show_excerpts -%}
                  <p class="card-text">{{ post.excerpt }}</p>
                {%- endif -%}
                <div class="text-center">
                  <a href="{{ post.url | relative_url }}" class="btn btn-info">Read More</a>
                </div>
              </div>
              <div class="card-footer text-muted">
                <i class="fas fa-tags"></i> <a href="/{{ category | first }}">{{ post.category | replace: '-', ' ' | capitalize }}</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      {% endfor %}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS <i class="fas fa-rss" aria-hidden="true"></i></a></p>
  {%- endif -%}
</div>
-->
