---
layout: page
---
<article>

  <header>
    <h1>{{ page.title | escape }}</h1>
    
    <ul class="list-inline mb-0">
      <li class="list-inline-item">
        <h6 class="text-muted">
          <time datetime="{{ page.date | date_to_xmlschema }}">
            {%- assign date_format = "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
          </time>
        </h6>
      </li>   
      <li class="list-inline-item">
        <h6 class="text-muted">
          -
        </h6>
      </li>
      <li class="list-inline-item">
        <h6 class="text-muted">
        {% assign authorCount = page.author | size %}
        {% if authorCount == 0 %}
          No author
        {% elsif authorCount == 1 %}
          {{ page.author | first }}
        {% else %}
          {% for author in page.author %}
            {% if forloop.first %}
              {{ author }}
            {% elsif forloop.last %}
              and {{ author }}
            {% else %}
              , {{ author }}
            {% endif %}
          {% endfor %}
        {% endif %}
        </h6>
      </li>
    </ul>
  </header>

  <section>
    <div class="container text-justify justify-content-center">
      {{ content }}
    </div>
    <hr class="my-4">
    <div class="container">
      {% if site.comments %}
        {% include disqus.html %}
      {% endif %}
    </div>
  </section>

</article>
